body
{
  /* you better change this stuff */
  margin: 50px;
  font-family: decorative;
  color: #616163;
  background-color: #CC9900;
  font-size: 50%;}

header{
font-size: 100%;
}

h2{
text-align: center;
}

figure{
text-align: center;
font-size:75%;
}

footer{
text-align: center;
}
a{
text-decoration: underline;
}

a:link {
  color:#73763D;
  
  text-decoration: underline;
}

a:visited {
  color: #73763D;
  
  text-decoration: underline;
}

a:hover {
  color:#73763D;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:#73763D;
  background-color: transparent;
  text-decoration: underline;
}